<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.edu.espol.integradora.dadtime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".ProfileGlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_dadtime"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileFirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EntertainmentActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Collage" />
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TransparentActivity"
            android:excludeFromRecents="false"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".CameraImageTag"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_camera_image_tag"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".Collage"/>
        <activity android:name=".Collage2"/>
        <activity android:name=".Collage3"/>
        <service android:name=".ServiceBackground" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
